@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@using MovieTracker.Controllers;

<div class="page">
    <header class="top-navigation">

        <button @onclick="NavigateToHome">Home</button>
        <button @onclick="NavigateToTracker">Watchlist</button>
        <button @onclick="NavigateToMovies">All Movies</button>

    </header>
</div>

@code {
    public void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }

    void NavigateToTracker()
    {
        WatchlistController.retrieveMovies();
        NavigationManager.NavigateTo("/watchlist");
    }

    void NavigateToMovies()
    {
        NavigationManager.NavigateTo("/allmovies");
    }
}

@Body
