@page "/"
@inject NavigationManager NavigationManager
@using MovieTracker.Controllers

<h1>Welcome to Movie Tracker!</h1>

<p>Click the navigation buttons above to see all movies and your tracker.</p>