@page "/"
@inject NavigationManager NavigationManager

<h1>Welcome to Movie Tracker!</h1>

<p>Click below to go to the tracker and fetch movies from TMDB.</p>

<button @onclick="NavigateToTracker">Go to Tracker</button>
<button @onclick="NavigateToMovies">Go to Movies</button>

@code {
    void NavigateToTracker()
    {
        NavigationManager.NavigateTo("/tracker");
    }

    void NavigateToMovies()
    {
        NavigationManager.NavigateTo("/movies");
    }}