@page "/tracker"
@inject NavigationManager NavigationManager
@using MovieTracker.Components

<h1>Tracker</h1>

Welcome to the tracker!!!

<button @onclick="NavigateToHome">Go Back to Home</button>
@foreach (var movie in TrackerController.movies)
{
	<li>@movie.Name</li>
}

@code {
	public void NavigateToHome() {
		NavigationManager.NavigateTo("/");
	}
}
