@page "/tracker"
@inject NavigationManager NavigationManager

<h1>Tracker</h1>

Welcome to the tracker!!!

<button @onclick="NavigateToHome">Go Back to Home</button>

@code {
	public void NavigateToHome() {
		NavigationManager.NavigateTo("/");
	}
}
