@page "/watchlist"
@inject NavigationManager NavigationManager
@using MovieTracker.Components
@using MovieTracker.Controllers

<div class="watchlist-header">
    <h1>Watchlist</h1>
    <div class="filters">
        <label>Filter: </label>
        <select @onchange="updateFilters">
            <option value="0">None</option>
            <option value="1">Not Watched</option>
            <option value="2">Watched</option>
        </select>
    </div>
    <button class="btn-save" @onclick="saveMovies">Save Watchlist</button>
</div>

<div class="movie-container">
    @if (!loaded)
    {
        <p>Loading movies...</p>
    }
    else
    {
        <ul class="movie-list">
            @foreach (var movie in WatchlistController.movies)
            {
                <li class="movie-card">
                    <div @onclick="() => NavigateToDetails(movie.Id)" style="cursor:pointer;">
                        @if (!string.IsNullOrEmpty(movie.Poster_Path))
                        {
                            <img src="https://image.tmdb.org/t/p/w500/@movie.Poster_Path" alt="@movie.Title" />
                        }
                    </div>

                    <div class="movie-info">
                        <strong>@movie.Title</strong>
                        <br />
                        <button class="btn-remove" @onclick="() => removeMovie(movie)">Remove</button>
                        <InputCheckbox @bind-Value="movie.Watched" @onchange="() => changeWatched(movie)"></InputCheckbox>
                        <span>Watched</span>
                    </div>
                </li>
            }
        </ul>
    }
</div>

@code {
    private string _filter = "";
    private bool loaded = false;

    protected override async Task OnInitializedAsync()
    {
        await WatchlistController.retrieveMovies();
        loaded = true;
    }

    public void changeWatched(Movie movie) => movie.Watched = !movie.Watched;

    public void removeMovie(Movie movie) => WatchlistController.removeMovie(movie);

    public void saveMovies() => WatchlistController.saveMovies();

    public void updateFilters(ChangeEventArgs e) => WatchlistController.updateFilters(e);

    private void NavigateToDetails(int movieId)
    {
        NavigationManager.NavigateTo($"/moviedetails/{movieId}");
    }
}
