@page "/watchlist"
@inject NavigationManager NavigationManager
@using MovieTracker.Components
@using MovieTracker.Controllers

<div class="watchlist-header">
    <h1>Watchlist</h1>
    Welcome to your watchlist!
    <div class="filters">
        <label>Filter: </label>
        <select @onchange="updateFilters">
            <option value="0">None</option>
            <option value="1">Not Watched</option>
            <option value="2">Watched</option>
        </select>
    </div>
    <button @onclick="saveMovies">Save Watchlist</button>
</div>

<div class="movie-container">
    <ul class="movie-list">
        @if (!loaded)
        {
            <p>Loading movies...</p>
        }
        else {
            @foreach (var movie in WatchlistController.movies)
                {
                    <li>
                        <button @onclick="() => removeMovie(movie)">Remove</button>
                        <strong>@movie.Title</strong>
	                    <InputCheckbox @bind-Value="movie.Watched" @onchange="() => changeWatched(movie)"></InputCheckbox>
                        <br/>
                    </li>
                }
            }
    </ul>
</div>

@code {
    private string _filter = "";
    private bool loaded = false;

    protected override async Task OnInitializedAsync()
    {
        await WatchlistController.retrieveMovies();
        loaded = true;
    }

    public void changeWatched(Movie movie) => movie.Watched = !movie.Watched;

    public void removeMovie(Movie movie) => WatchlistController.removeMovie(movie);

    public void saveMovies() => WatchlistController.saveMovies();

    public void updateFilters(ChangeEventArgs e) => WatchlistController.updateFilters(e);
}
