@page "/watchlist"
@inject NavigationManager NavigationManager
@using MovieTracker.Components
@using MovieTracker.Controllers

<h1>Watchlist</h1>

Welcome to the tracker!!!

<button @onclick="NavigateToHome">Go Back to Home</button>
@foreach (var movie in WatchlistController.movies)
{
	<li>@movie.Title</li>
}

@code {
	public void NavigateToHome() {
		NavigationManager.NavigateTo("/");
	}
}
